[submodule "third_party/skia"]
	path = third_party/skia
	url = https://github.com/google/skia
[submodule "third_party/zlib"]
	path = third_party/zlib
	url = https://github.com/madler/zlib
[submodule "third_party/sdl"]
	path = third_party/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt
